In [38]:
import pandas as pd
import numpy as np
import os
import shutil
import matplotlib.pyplot as plt

In [39]:
df = pd.read_csv('image_data.csv')
df.head()

          Image Name                                      Page Title
0  basketweavest.jpg     Knitting Stitch Patterns-Basketweave Stitch
1       bw2front.jpg  Knitting Stitch Patterns-Basketweave Stitch II
2        bw2back.jpg  Knitting Stitch Patterns-Basketweave Stitch II
3   doublemossst.jpg             Knitting Stitch Patterns-Box Stitch
4    brokenribws.jpg             Knitting Stitch Patterns-Broken Rib

In [40]:
imgfolder = 'E:/Documents/knit_stitch_identifier/images/'

In [41]:
df = df.rename(columns={'Page Title': 'Category'})
df.head()

          Image Name                                        Category
0  basketweavest.jpg     Knitting Stitch Patterns-Basketweave Stitch
1       bw2front.jpg  Knitting Stitch Patterns-Basketweave Stitch II
2        bw2back.jpg  Knitting Stitch Patterns-Basketweave Stitch II
3   doublemossst.jpg             Knitting Stitch Patterns-Box Stitch
4    brokenribws.jpg             Knitting Stitch Patterns-Broken Rib

In [42]:
df['Category'] = df['Category'].str.replace('Knitting Stitch Patterns-', '', regex=False)
df.head()

          Image Name               Category
0  basketweavest.jpg     Basketweave Stitch
1       bw2front.jpg  Basketweave Stitch II
2        bw2back.jpg  Basketweave Stitch II
3   doublemossst.jpg             Box Stitch
4    brokenribws.jpg             Broken Rib

In [43]:
df.describe()

            Image Name        Category
count              221             221
unique             155             137
top     piquetrirs.jpg  Plain Diamonds
freq                 4               4

In [44]:
df['Category'] = df['Category'].str.replace('Knitting Stitch Patterns - ', '', regex=False)

In [22]:
df['Category'] = df['Category'].str.strip()

In [45]:
df['Category'] = df['Category'].str.replace(' ', '_', regex=False)
df.head()

          Image Name               Category
0  basketweavest.jpg     Basketweave_Stitch
1       bw2front.jpg  Basketweave_Stitch_II
2        bw2back.jpg  Basketweave_Stitch_II
3   doublemossst.jpg             Box_Stitch
4    brokenribws.jpg             Broken_Rib

In [46]:
categories = df['Category'].unique()

for category in categories:
    category = os.path.join(imgfolder + category)
    os.makedirs(category, exist_ok=True)

In [53]:
categories = df['Category'].unique()

for category in categories:
    filtered_df = df[df['Category'] == category]
    categoryfolder = os.path.join(imgfolder + category)
    for index, row in filtered_df.iterrows():
        try:
            image_file = os.path.join(imgfolder + row['Image Name'])
            shutil.move(image_file, categoryfolder)
        except:
            print('errror')

errror
errror
errror
errror
errror
errror
errror
errror
errror
errror
errror
errror
errror
errror
errror
errror
errror
errror
errror
errror
errror
errror
errror
errror
errror
errror
errror
errror
errror
errror
errror
errror
errror
errror
errror
errror
errror
errror
errror
errror
errror
errror
errror
errror
errror
errror
errror
errror
errror
errror
errror
errror
errror
errror
errror
errror
errror
errror
errror
errror
errror
errror
errror
errror
errror
errror
errror
errror

Upon inspection, the site images were scraped from categorized the same images under `Pique Triangles` and `Triangle Squares`. The latter folder will be deleted.

In [54]:
df[df['Category'] == 'Triangle_Squares']

         Image Name          Category
53   piquetrirs.jpg  Triangle_Squares
54   piquetriws.jpg  Triangle_Squares
104  piquetrirs.jpg  Triangle_Squares
105  piquetriws.jpg  Triangle_Squares

In [55]:
df[df['Category'] == 'Pique_Triangles']

        Image Name         Category
38  piquetrirs.jpg  Pique_Triangles
39  piquetriws.jpg  Pique_Triangles
90  piquetrirs.jpg  Pique_Triangles
91  piquetriws.jpg  Pique_Triangles

In [56]:
df = df[df['Category'] != 'Triangle_Squares']

In [57]:
df[df['Category'] == 'Triangle_Squares']

Empty DataFrame
Columns: [Image Name, Category]
Index: []